/* Element Selector */
body{
    background-color: black;
}

/* Element Selector */
h1{
    color: white;
    text-align: center;
}

/* Id Selector
#p1{
    color: tomato;
}
#p2{
    color: cyan;
}
#p3{
    color: tomato;
}
#p4{
    color: cyan;
}
*/

/* Class Selector */
.odd{
    color: cyan;
}
.even{
    color: peachpuff;
}